.nav {
    padding: 1em 0;
}

.logo {
    font-size: 1.25em;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;

    &:not(:last-child) {
        margin-right: 2em;
    }
}

.hamburger {
    @include hide-on(medium);

    cursor: pointer;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 1em;
    width: 1.5em;

    & > div {
        background: $light;

        height: 2px;
        width: 100%;

        transition: all 0.25s;
    }

    &:hover {
        & > div {
            background: $dark;
        }
    }
}