.nav {
    padding: 1em;
}

.logo {
    font-size: 1em;
}

.nav-items {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;

    &:not(:last-child) {
        margin-right: 2em;
    }
}