/* Fonts */
$fira-sans: 'Fira Sans', sans-serif;

/* Colors */
$dark:          rgb(33, 35, 38);
$light:         rgb(111, 117, 128);

$light-blue:    rgb(72, 170, 224);
$dark-blue:     rgb(31, 91, 135);