.aboutpage {
    display: grid;
    grid-template-columns: 2fr 1fr 7fr 2fr;

    margin-bottom: 2em;

    @include on-mq(medium) {
        grid-template-columns: 1fr;
    }

    @include on-mq-h(small) {
        grid-template-columns: 1fr 5fr;
        grid-column-gap: 2em;
        grid-row-gap: 1em;

        padding-top: 1em;
    }
}

.about-header {
    font-size: 2.25em;
    font-weight: 800;

    grid-column: 3;
    grid-row: 1;
    margin-top: 1em;

    @include on-mq(medium) {
        grid-column: 1;
        grid-row: 2;

        margin-top: 0.5em;
        text-align: center;
    }

    @include on-mq-h(small) {
        grid-column: 2;
        grid-row: 1;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.about-image {
    grid-column: 1;
    grid-row: 2;

    border-radius: 50%;
    margin: 0 auto;

    width: 250px;
    height: 250px;

    @include on-mq(medium) {
        grid-column: 1;
        grid-row: 1;
    }

    @include on-mq(xsmall) {
        height: 125px;
        width: 125px;
    }

    @include on-mq-h(small) {
        grid-column: 1;
        grid-row: 1;

        margin: 0;
        height: 125px;
        width: 125px;
    }
}

.about-text {
    grid-column: 3 / 4;
    grid-row: 2;

    background: white;
    box-shadow: 0 3px 10px rgba($dark, 0.1);
    border-radius: 2px;
    text-align: justify;
    padding: 3em 4em;

    &__para {
        color: $light;
        font-family: $montserrat;
        line-height: 1.5;

        &:first-child {
            margin-top: 0;
        }
    }
    
    @include on-mq(large) {
        grid-column: 3 / 5;
    }
    
    @include on-mq(medium) {
        grid-column: 1;
        grid-row: 3;
    }

    @include on-mq(small) {
        padding: 3em 2em;
    }

    @include on-mq-h(small) {
        grid-column: 1 / 3;
        grid-row: 2;
    }
}