.hero {
    flex: 1;
    padding-bottom: 10em;
}

.hero-header {
    font-size: 4em;
    font-weight: 900;
    margin: 0 0 0.25em 0;
}

.hero-header__sub {
    color: $light;
    font-size: 2em;
    font-weight: 500;
    margin: 0;
}

.hero-social {
    font-size: 1.25em;
    margin-top: 4em;

    & > a {
        background: white;
        box-shadow: 0 3px 10px rgba($dark, 0.1);
        border-radius: 2px;
        padding: 10px 15px;
        transition: all 0.15s;

        &:hover {
            box-shadow: 0 3px 10px rgba($dark, 0.15);
            transform: translateY(-1px);
        }

        &:not(:last-child) {
            margin-right: 2em;
        }
    }

    & i {
        color: white;
        margin-right: 0.5em;

        &.fa-facebook-f {
            color: rgb(59, 89, 152);
        }

        &.fa-twitter {
            color: rgb(29, 161, 242);
        }

        &.fa-linkedin-in {
            color: rgb(0, 119, 181);
        }
    }
}

.frontpage {
    background: url(/images/bg_mountain.svg);
    background-position: 0 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}