mixin social-button(url, brandClass, brandName)
    a( class="inline-block" href=url )
        i( class="fab " + brandClass + " is-inline-flex justify-content-center align-items-center" )
        span( class="hide-on-medium" )
            |&nbsp;&nbsp;&nbsp;#{brandName}
