block append vars
    - var navigation = { 'about': 'about.html', 'blog': '#', 'work': '#', 'resume': '#', 'contact': '#' }

nav( class="nav" )
    div( class="is-flex justify-content-space-between align-items-center" )
        div( class="logo" )
            a( href="" ) jacob foster
        
        +nav(navigation, false, activePage)

        div( id="mobile-toggle" class="hamburger" )
            div
            div
            div

    +nav(navigation, true, activePage)