.nav {
    padding: 1em 0;

    @include on-mq(small) {
        padding: 1em 2em;
    }
}

.logo {
    font-size: 1.25em;
}

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;

    &__mobile {
        background: rgba(255, 255, 255, 0.95);
        bottom: 0;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 2em 0 0 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 55px;
        width: 100%;

        &:not(.is-none) {
            @include show-on(medium);
        }
    }
}

.nav-item {
    color: $light;
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
    user-select: none;

    &:not(:last-child) {
        margin-right: 2em;
    }

    & a {
        &.active,
        &:hover {
            color: $dark;
        }
    }

    &__mobile {
        color: $light;
        display: block;
        font-size: 1.25em;
        transition: all 0.25s;
        user-select: none;

        & a {
            &.active,
            &:hover {
                color: $dark;
            }
        }

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }
}

button#mobile-toggle {
    background: none;
    border: none;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
    display: none;
    font: inherit;
    height: 2em;
    padding: 0.5em 0;
    width: 3em;

    @include on-mq(medium) {
        display: initial;
    }
}

.hamburger {
    height: 16px;

    & > .input-fix {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 100%;

        &:active,
        &:focus {
            outline: none;
        }

        & > span {
            background: $light;
            height: 2px;
            transition: all 0.25s;
            width: 24px;
        }
    }

    &:hover {
        & > .input-fix > span {
            background: $dark;
        }
    }

    &.open {
        & > .input-fix {
            & > span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            & > span:nth-child(2) {
                transform: scaleX(0);
            }

            & > span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }
}
