.nav {
    padding: 1em 0;

    @include on-mq(small) {
        padding: 1em 2em;
    }
}

.logo {
    font-size: 1.25em;
}

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;

    &__mobile {
        background: rgba(255, 255, 255, 0.95);
        bottom: 0;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 2em 0 0 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 55px;
        width: 100%;
        
        &:not(.is-none) {
            @include show-on(medium);
        }
    }
}

.nav-item {
    color: $light;
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
    user-select: none;

    &:not(:last-child) {
        margin-right: 2em;
    }

    &.active,
    &:hover {
        color: $dark;
    }

    &__mobile {
        color: $light;
        display: block;
        font-size: 1.25em;
        transition: all 0.25s;
        user-select: none;
        
        &.active,
        &:hover {
            color: $dark;
        }

        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }
}

.hamburger {
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 1em;
    width: 1.5em;

    @include on-mq(medium) {
        display: flex;
    }

    &:hover {
        & > div {
            background: $dark;
        }
    }

    & > div {
        background: $light;

        height: 2px;
        width: 100%;

        transition: all 0.25s;
    }

    &.open {
        & > div:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }
        & > div:nth-child(2) {
            transform: scaleX(0);
        }
        & > div:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
    }
}