extends layouts/layout.pug

block append vars
    - var bodyClass = 'frontpage'
    - var activePage = 'about'

block content
    div( class="aboutpage" )
        div( class="about-left" )
            img( src="images/me.jpg" class="about-image" srcset="images/me@2x.jpg 2x, images/me@3x.jpg 3x" )
            div( class="about-left__toc" )
                h1( class="about-left__header" )
                div( class="about-left__links" )
                    a( href="" class="about-left__link active" data-scroll-to="overview" ) Overview
                    a( href="" class="about-left__link" data-scroll-to="beginnings" ) Beginnings
                    a( href="" class="about-left__link" data-scroll-to="today" ) Today
        h1( id="overview" class="about-header" ) Overview
        div( class="about-text" )
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
        h1( id="beginnings" class="about-header" ) Beginnings
        div( class="about-text" )
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
        h1( id="today" class="about-header" ) Today
        div( class="about-text" )
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
            p( class="about-text__para" ) 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum laoreet nunc non sodales. Sed nec mattis orci, non ultricies lacus. Vivamus bibendum egestas diam ac porta. Nam vel tincidunt ante. Donec nulla diam, cursus sit amet nibh a, dapibus porta nulla. Etiam id viverra ex. Etiam ac nisl tempus, vestibulum risus nec, elementum felis. Aliquam viverra et ipsum quis congue. Proin convallis quis nulla ac rhoncus. Aenean et luctus dui. Pellentesque sit amet porta ex. Morbi porttitor dui massa, lacinia varius enim commodo id. Etiam eget fringilla ante. Curabitur risus libero, sagittis ut nisl id, sollicitudin rhoncus sem.
    div( id="to-top" class="is-inline-flex justify-content-center align-items-center" )
        i( class="fas fa-caret-up" )