extends layouts/layout.pug

block append vars
    - var bodyClass = 'frontpage'

block content
    div( class="hero is-flex justify-content-center align-items-start flex-column" )
        h1( class="hero-header" ) Hello
        h2( class="hero-header__sub" )
            | I am a designer and developer located in the Pacific Northwest.
        div( class="hero-social" )
            +social-button("https://www.facebook.com/jacob.foster.58", "fa-facebook-f", "facebook")
            +social-button("https://www.twitter.com/im_jacobf", "fa-twitter", "twitter")
            +social-button("https://www.linkedin.com/in/imjacobf/", "fa-linkedin-in", "linkedin")